<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
        <div class="col col-sm-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt molestiae placeat voluptate adipisci autem, consequatur harum porro sequi sunt. Sint corporis tempore a cum mollitia illum harum ex laudantium non.
        </div>
        <div class="col col-sm-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nulla sapiente ipsa voluptatem, qui vel fuga rem adipisci aliquid, ratione ducimus? Laborum voluptas vero a expedita molestias atque tempore doloribus.
        </div>
    </div>
    </div>
</body>
</html>